 <meta charset="UTF-8">
   <nav class="navbar navbar-light bg-primary">
    <div class="container-fluid">
      <h1>EMPLOYEE</h1>
      <div class="d-flex">
        <button class="btn btn-success">Add Data</button>
      </div>
    </div>
   </nav>
   <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Designation</th>
        <th scope="col">Salary</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <Tr>
        <td>Deepsikha</td>
        <td>Manager</td>
        <td>$50000</td>
        <td>
          <button class="btn btn-info">Edit</button>
          <button class="btn btn-danger">Delete</button>
        </td>
      </Tr>
    </tbody>
   </table>
   